name: Test and Coverage

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[tests]
    - name: Run tests with coverage
      run: |
        python -m coverage run
    - name: Generate coverage report
      run: |
        python -m coverage report | tee coverage-report.txt
        python -m coverage xml
